<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="menu_doralex_root"
        name="Administración Doralex"
        groups="base.group_system"
        sequence="5"
    />
    <menuitem
        id="menu_doralex_dashboard"
        name="Estado del sistema"
        parent="menu_doralex_root"
        action="action_open_dashboard_protected"
        sequence="10"
    />
    <menuitem
        id="menu_doralex_modules"
        name="Módulos"
        parent="menu_doralex_root"
        action="action_open_modules_protected"
        sequence="20"
    />
    <menuitem
        id="menu_doralex_diagnosis"
        name="Diagnóstico"
        parent="menu_doralex_root"
        action="action_open_dashboard_protected"
        sequence="30"
    />
</odoo>
